<%- include("header") -%>
<h2>About this website</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta ratione quod, adipisci voluptatibus tempore consequuntur omnis! Iste distinctio adipisci fugit, aliquid ut architecto porro ducimus atque natus perferendis minima?</p>

<%- include("footer") -%> 